# Quad DEX — Arc Testnet Configuration
VITE_ARC_CHAIN_ID=5042002
VITE_ARC_RPC_URL=https://rpc.testnet.arc.network
VITE_CIRCLE_APP_ID=
VITE_STEALTH_PAYMENTS_ADDRESS=
VITE_PRIVACY_POOL_ADDRESS_USDC=
VITE_PRIVACY_POOL_ADDRESS_EURC=
VITE_PRIVACY_POOL_ADDRESS_QDRC=
VITE_PRIVPAY_WASM_URL=/circuits/privpay/privpay_claim.wasm
VITE_PRIVPAY_ZKEY_URL=/circuits/privpay/privpay_claim_final.zkey
VITE_PRIVACY_POOL_USE_RELAY=false
VITE_PRIVACY_POOL_FROM_BLOCK=0
VITE_RECURRING_AUTOMATION_CONTRACT_ADDRESS=
VITE_RECURRING_AUTOMATION_EXECUTOR_ADDRESS=
VITE_PRIVPAY_USDC_ADDRESS=0x3600000000000000000000000000000000000000
VITE_PRIVPAY_TREASURY_ADDRESS=
VITE_ALCHEMY_ARC_RPC_URL=
VITE_LANDING_STATS_URL=/stats/landing-network.json
CIRCLE_API_KEY=TEST_API_KEY:8ba5d1ce8bec70fe0731a03aa3d1fc1c:4f652ef061dae925b114ebe645b179d9
